<section class="section">
  <div class="notification notice"><%= notice %></div>

  <%= render @user %>

  <%= button_to 'My Docs', sites_path, method: 'get', class: 'button' %>
  <%= button_to 'Add Docs', new_site_path, method: 'get', class: 'button is-success' %>
</section>
