<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Our Docs
    </p>
    <p class="subtitle">
      Host static documentation behind Github authentification
    </p>
  </div>
</section>

<section class="section level-item has-text-centered">
  <%= button_to 'Login with GitHub', '/auth/github', class: 'button is-dark', method: 'get' %>
</section>
