<section class="section">
  <h1 class="title is-1">New site</h1>

  <% @repository_names.each do |repo_detail| %>
    <%= render 'form', site: Site.new(user_id: @user.id, **repo_detail) %>
    <br>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to sites", sites_path %>
  </div>
</section>
